body{
  background-image: url(images/background.jpg);
  background-repeat: repeat;

}

h1{
  Font-size: 100px;
  color: #f9d237;
  font-family: arial;
  align-self: baseline;
}


.yTob img:hover{
  box-shadow:30px 30px 50px black;
  text-decoration: none;
}

p{
  margin: 0px;
  color: black;
}

#mainGame{
  color: #f9d237;
  font-size: 50px;
  border: 3px solid #f7d939;
  border-radius: 500px;
  align-items: center;
  text-align: center;
  padding: 300px 50px 300px 50px;
  margin: 30px;
  background-image: url(https://scontent.xx.fbcdn.net/v/t1.0-9/15622133_10154225310241172_3201496963092062224_n.jpg?oh=764341b7484bd46763049bdf1942ef4c&oe=592E42F3);

}

#pHead{
  font-family: arial;
  font-size: 30px;
  text-align: right;
}

#logo{
  align-items: center;

}

ol.listEm{
  padding: 30px;
  list-style-type: none;
  font-size: 30px;
  font-family: arial-black arial;
  font-color: #f9d237;
  font-style: bold;
  border: 2px solid black;

}

.Rcards{
  float: right;
}

.medPic{
  height: 250px;
  width: 350px;
  border-radius:100px;
  border: 1px solid black;
  object-fit: cover;
  margin: 30px;
  box-shadow:20px 20px 30px black;
}

.cardPic{
  height: 400px;
  width: 300px;
  border: 1px solid black;
  object-fit: cover;
  margin: 30px;
  box-shadow:20px 20px 30px black;
}

.buttonPic{
  height: 75px;
  width: 200px;
  border-radius:50px;
  border: 1px solid black;
  object-fit: fill;
  margin: 15px;
  box-shadow:5px 5px 30px black;
}

.winPic{
  height: 150px;
  width: 150px;
  border-radius:100px;
  border: 1px solid black;
  object-fit: cover;
  margin: 15px;
  box-shadow:20px 20px 30px black;
}

.pFoot{
    text-decoration: underline;
}

.LayoutFoot{
  margin-top: 20px;
  padding: 20px;
}

.myHF.row{
  background-color: #527d24;
}

.myBody.row{
  background-color: #7d9442;
}

.pBody{
  margin: 30px;
  border: 2px solid black;
}
